<h1>List of Books</h1>

<% if flash[:notice] %>
	<div>
		<%= flash[:notice] %>
	</div>
<% end %>

<div>
	<%= form_tag books_path, remote: true, method: :get, class: "js-books-filter form-inline" do %>
		<div class="form-group">
			<%= text_field_tag :q, params[:q], placeholder: "Palabra Clave", class: "form-control" %>
		</div>
		<%= button_tag type: "submit", class: "btn btn-default" do %>
			<span class="fa fa-search"></span>
		<% end %>
	<% end %>
</div>

<table class="table table-hover" style="width: 900px; text-align: center">
	<thead>
		<tr>
			<th style="text-align: center">Author</th>
			<th style="text-align: center">Titulo</th>
			<th style="text-align: center">Categoria</th>
			<th style="text-align: center">Precio</th>
			<th style="text-align: center">Cantidad disponible</th>
		</tr>
	</thead>
	<tbody>
		<%- @books.each do |cr| %>
			<tr>
				<td><%= Author.find_by(id: cr.author_id).name %></td>
				<td><%= link_to cr.title, book_path(cr) %></td>
				<td><%= cr.category %></td>
				<td> Lps. <%= cr.price %></td>
				<td><%=cr.quantities%></td>
			</tr>
		<%- end %>
	</tbody>
</table>
